<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            padding-top: 90px;
        }

        ul a {
            padding: 5px;
        }

        .navbar {
            background-color: white;
            overflow: hidden;
            border: 0.05em solid rgba(0, 0, 0, 0.1);
            border-color: #009688;
            position: fixed;
            top: 0px;
            width: 100%;
            border-right: 0;
            border-top: 0;
            border-left: 0;
            border-radius: 0;
            z-index: 100;
        }

        a{
            color: #009688;
        }

        .navbar a:hover {
            font-weight: bold;
            color: #009688;
            text-decoration: none;
        }

        img{
            height: 45px;
        }

        select {
            border-radius: 4px;
            width: 100%;
        }

        .icon-bar {
            background-color: #009688;
        }

        .btn:hover {
            background-color: #009688;
            color: #ffff;
            opacity: 0.4;
        }

        .front-col {
            border: 0.05em solid rgba(0, 0, 0, 0.1);
            border-radius: 2px;
        }

        .front-row {
            display: flex;
            justify-content: space-between;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
                <a href="/"><img src="../sources/logo.png" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Forside", "Index", "Home")</li>
                    <li>@Html.ActionLink("Hjemmehjælpere", "Index", "Caretaker")</li>
                    <li>@Html.ActionLink("Patienter", "PatientView", "Patient")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
            </div>
                @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer >
            <p>&copy; @DateTime.Now.Year - Eksamensprojekt (Toke, Anders, Jonathan & Fredrik)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
