@model IEnumerable<Homecare.Models.DataModels.Route_Details>

@{
    ViewBag.Title = "RouteDetails";
}

<h2>RouteDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_route_details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arrival)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fk_route_route_details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fk_address_route)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_route_details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arrival)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fk_route_route_details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fk_address_route)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
