@model IEnumerable<Homecare.Models.DataModels.Route_Details>

@{
    ViewBag.Title = "Rutebeskrivelse";
}


<p>
    @Html.ActionLink("Tilbage", "Index", "Routes")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient.patient_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arrival)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.patient_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arrival)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.Address.road_name) @Html.DisplayFor(modelItem => item.Patient.Address.number), @Html.DisplayFor(modelItem => item.Patient.Address.City.zipcode) @Html.DisplayFor(modelItem => item.Patient.Address.City.city_name)
        </td>
        <td>
            @Html.ActionLink("Ændr ankomst", "Edit", new {id=item.id_route_details}) |
            @Html.ActionLink("Slet", "Delete", new { id=item.id_route_details })
        </td>
    </tr>
}

</table>
