@model IEnumerable<Homecare.Models.DataModels.PatientView>

@{
    ViewBag.Title = "PatientView";
}

<h2>PatientView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.patient_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.road_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relative_phonenumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.patient_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.road_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zipcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.relative_phonenumber)
        </td>
        <td>
            @Html.ActionLink("Rediger", "EditPatient", new { id = item.id_patient }) |
            @Html.ActionLink("Info", "PatientDetails", new { id = item.id_patient }) |
            @Html.ActionLink("Slet", "DeletePatient", new { id = item.id_patient })
        </td>
    </tr>
}

</table>
